@import url(../fonts/openSans.css);
@import url(../fonts/neucha.css);

:root {
  --white: #fff;
  --white-opacity: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-opacity: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
  --font-line-height: 1.6em;
  --header-height: 1.2em;
  --h1-size: 72px;
  --h2-size: 60px;
  --h3-size: 34px;
  --w-400: 400;
}

html {
  scroll-behavior: smooth;
}

section {
  margin: auto;
  text-align: center;
  padding: 100px 165px;
}

.image {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}

.section-span {
  font-family: 'Neucha';
  font-size: 24px;
  font-weight: var(--w-400);
  line-height: 120%;
  color: var(--dark-opacity);
}

.section-span_light {
  color: var(--white);
}

.section-header {
  margin: 0;
  font-family: 'Neucha';
  color: var(--dark);
  font-size: var(--h1-size);
  font-weight: var(--w-400);
  line-height: var(--header-height);
}

.section-header_light {
  color: var(--white);
}

.section-paragraph {
  font-family: 'Neucha';
  color: var(--dark);
  font-size: var(--h3-size);
  line-height: var(--header-height);
  margin-top: 30px;
}

.section-paragraph_light {
  color: var(--white);
}

.title-container {
  display: flex;
  text-align: left;
  gap: 30px;
}

.section-subtitle {
  font-family: 'openSans';
  font-size: 14px;
  font-weight: 700;
  line-height: var(--header-height);
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.section-subtitle_dark {
  color: var(--white);
  background-color: var(--brown);
}

.section-subtitle_light {
  color: var(--brown);
  background-color: var(--white);
}

.section__subtitle-text-container_dark {
  display: flex;
  text-align: left;
  gap: 30px;
  font-family: 'openSans';
  color: var(--dark);
  font-size: var(--font-size);
  font-weight: var(--w-400);
  line-height: var(--font-line-height);
}
.section__subtitle-text-container {
  display: flex;
  text-align: left;
  gap: 30px;
  font-family: 'openSans';
  color: var(--white);
  font-size: var(--font-size);
  font-weight: var(--w-400);
  line-height: var(--font-line-height);
}

.section__subtitle-text-container_dark p {
  width: 50%;
  margin: 0;
}

.section__subtitle-text-container p {
  width: 50%;
  margin: 0;
}
/* header */

header {
  margin: auto;
  background-color: var(--light);
}

.header__container {
  margin: auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1110px;
}
.background-image {
  position: relative;
}

.background-image::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../images/background.png);
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.header__title {
  color: var(--primary);
  font-family: 'Neucha';
  font-size: var(--h1-size);
  font-weight: var(--w-400);
  margin: 0;
  z-index: 1;
  position: relative;
}

.header__title_dark {
  color: var(--primary-dark);
  font-family: 'Neucha';
  font-size: var(--h1-size);
  font-weight: var(--w-400);
}

.header__image {
  position: absolute;
  max-height: 525px;
  height: 100%;
  top: 55px;
  right: -270px;
  z-index: 0;
  overflow-x: hidden;
}

.text-container {
  display: flex;
  gap: 30px;
  font-family: 'OpenSans';
  color: var(--dark);
  font-size: var(--font-size);
  line-height: var(--font-line-height);
  font-weight: var(--w-400);
}

.text {
  max-width: 540px;
  width: 100%;
}

.header__text-container {
  margin-top: 225px;
}

.header__button {
  display: inline-block;
  text-decoration: none;
  color: var(--light);
  font-family: 'OpenSans';
  background-color: var(--primary);
  padding: 12px 24px;
  font-weight: 700;
  line-height: var(--font-line-height);
  margin-top: 24px;
  transition: 0.4s ease-in;
}

.header__button:hover {
  cursor: pointer;
  background-color: #ea7600;
}

next .h2-title {
  color: var(--dark);
  font-family: 'Neucha';
  font-size: var(--h2-size);
  font-weight: var(--w-400);
  margin: 0;
}

.h2-title_span {
  color: var(--primary);
  font-family: 'Neucha';
  font-size: var(--h2-size);
  font-weight: var(--w-400);
  margin: 0;
}

.video {
  padding: 0;
  position: relative;
}

.video__description {
  color: var(--primary-dark);
  font-family: 'openSans';
  font-size: var(--font-size);
  font-weight: var(--w-400);
  line-height: var(--font-line-height);
  margin-top: 27px;
  margin-bottom: 30px;
}

.video__frame {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.video__container {
  position: relative;
  top: 100px;
}

/* navigation */
#navigation {
  background-color: var(--primary-dark);
  padding-top: 200px;
}

.navigation__link {
  text-decoration: none;
}

.navigation__link:hover {
  cursor: pointer;
}

#navigation li {
  max-width: 341px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.navigation__list__title {
  margin: 0;
  font-size: 52px;
  color: var(--primary);
  font-family: 'Neucha';
  font-weight: var(--w-400);
  line-height: 120%;
  text-align: left;
}
.navigation__list__title > span {
  color: var(--light);
}

.navigation__list__item {
  background-color: var(--light);
  text-align: left;
  padding: 24px;
}

.navigation__list__item-number {
  color: var(--primary-dark);
  font-family: 'Neucha';
  font-size: 64px;
  font-weight: var(--w-400);
  margin: 0;
  line-height: 1;
  margin-bottom: 40px;
}

.navigation__list__item-title {
  font-family: 'Neucha';
  color: var(--primary);
  line-height: 120%;
  font-weight: var(--w-400);
  font-size: var(--h3-size);
  margin: 0;
}

.navigation__list__item-paragraph {
  font-family: 'openSans';
  font-size: var(--font-size);
  font-weight: var(--w-400);
  line-height: 160%;
  color: var(--dark);
}

.navigation__list__item:hover {
  background-color: var(--primary);
}

.navigation__list__item:hover > .navigation__list__item-number {
  color: var(--light);
}

.navigation__list__item:hover > .navigation__list__item-title {
  color: var(--light);
}

.navigation__list__item:hover > .navigation__list__item-paragraph {
  color: var(--light);
}

/* ikea-effect */
#ikea-effect {
  background-color: var(--light);
}

#premature-optimization {
  background-color: var(--brown);
}
